.lineaCarrusel{
    /* border: 1px solid red; */
}
.bgText{
    display: inline-block;
    background-color: rgb(243 244 246);
}
.bgTextDos{
    display: inline-block;
    background-color: rgb(254 242 242);
}