html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* COLORES */
:root{
  --rosa: #BF1B75;
  --rosa2: #F2059F;
  --verde: #7DA641;
  --verde2: #B7D93D;
  --gris: #F2F2F2;
  --white: #ffffff;

  --pink: #A61473;
  --amarillo: #F4D51D;
  --pink2: #F2059F;
  --aqua: #17B8BF;
  --aqua2:#0C9FA6;
  --titulo: 1.2rem;
  --subtitulo: 1.333rem;
  --parrafo: .9rem;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
