.logoHeader{
    border-radius: 1.1rem;
}
.HeaderBG{
    /* border: 1px solid blue;
    background-color: red; */
}
@media (max-width: 428px){
    .HeaderBG{
        /* background-color: var(--primary); */
        /* border: 1px solid red; */
    }
}
.sombra{
    -webkit-box-shadow: -2px 1px 19px -8px rgba(236,72,153,1);
-moz-box-shadow: -2px 1px 19px -8px rgba(236,72,153,1);
box-shadow: -2px 1px 19px -8px rgba(236,72,153,1);
}
.sombra:hover{
    -webkit-box-shadow: -2px 1px 19px -8px rgba(190,24,93,1);
-moz-box-shadow: -2px 1px 19px -8px rgba(190,24,93,1);
box-shadow: -2px 1px 19px -8px rgba(190,24,93,1);
}